body{
    height: 100vh;
    display: grid;
    align-items: center;
}

h3{
    text-align: center;
    color: #333333;
}
.custom-container {
    max-width: 800px;
    background-color: #f4f4f4;
    padding: 20px; 
    border-radius: 10px; 
    margin: 0 auto; 
  }

  .custom-btn-primary{
    background-color: #333333;
  }